@using ProjectTimeTracking.Models
@model ProjectTimeTracking.Models.Employee

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Employee</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ID" />
        <div class="form-group">
            <label asp-for="EmployeeFirstName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EmployeeFirstName" class="form-control" />
                <span asp-validation-for="EmployeeFirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EmployeeLastName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EmployeeLastName" class="form-control" />
                <span asp-validation-for="EmployeeLastName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="KindOfEmployment" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="KindOfEmployment" asp-items="Html.GetEnumSelectList<EmploymentType>()"> class="form-control"></select>
                <span asp-validation-for="KindOfEmployment" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EmployeeUserName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EmployeeUserName" class="form-control" />
                <span asp-validation-for="EmployeeUserName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EmployeePassword" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EmployeePassword" class="form-control" />
                <span asp-validation-for="EmployeePassword" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
