@model IEnumerable<ProjectTimeTracking.Models.ProjectViewModels.EmploymentTypeGroup>

@{
    ViewData["Title"] = "Employment Type Statistics";
}

<h2>Employment Type Statistics</h2>

<table>
    <tr>
        <th>
            Employment
        </th>
        <th>
            Employees
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KindOfEmployment)
            </td>
            <td>
                @item.EmployeeCount
            </td>
        </tr>
    }
</table>
