@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Project Time Tracking</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Project Time Tracker</h2>
        <p>
            You can use this app to add employees, projects, and time entries for employees. 
        </p>
    </div>
</div>
